APP_ENV=local
APP_URL= http://localhost:3000
APP_ENDPOINT= https://frido-nodejs.herokuapp.com
PORT= 5000
MOGOOSEURL= mongodb+srv://frido-user:fridopass@cluster0.3cuh4.mongodb.net/?retryWrites=true&w=majority
JWT_KEY= anyrandomkeypro